<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->

  <!-- Servlets  -->
  <servlet>
	  <servlet-name>JettyDjangoProxy</servlet-name>
	   <servlet-class>org.mortbay.servlet.ProxyServlet$Transparent</servlet-class>
		<init-param>
			<param-name>ProxyTo</param-name>
			<param-value>http://127.0.0.1:8001</param-value>
		</init-param>
		<init-param>
			<param-name>Prefix</param-name>
			<param-value>/django</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup> 
	</servlet>

	<servlet-mapping>
		<servlet-name>JettyDjangoProxy</servlet-name>
		<url-pattern>/django/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-name>JettyCouchProxy</servlet-name>
	   <servlet-class>org.mortbay.servlet.ProxyServlet$Transparent</servlet-class>
		<init-param>
			<param-name>ProxyTo</param-name>
			<param-value>http://127.0.0.1:5984</param-value>
		</init-param>
		<init-param>
			<param-name>Prefix</param-name>
			<param-value>/couch</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup> 
	</servlet>

	<servlet-mapping>
		<servlet-name>JettyCouchProxy</servlet-name>
		<url-pattern>/couch/*</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>YapoolGWT.html</welcome-file>
  </welcome-file-list>

</web-app>
