h1 {
	font-size: 2em;
	font-weight: bold;
}

html,body {
	font-size: medium;
	height: 100%;
	font-size: 10pt;
	table-layout: fixed;
}

.myYapoolLabel {
	font-size: large;
	font-family: serif;
	padding: 4px;
	color: white;
}

.listYapoolTags {
	width: 100px;
	float: right;
}

.myYapoolLabel:hover {
	background-color: orange;
}

.listTags {
	padding: 3px;
	font-size: 14pt;
}

.listTags:hover {
	cursor: pointer;
	background-color: yellow;
}

.yapoolListTable {
	font-size: 14pt;
	line-height: 20px;
	border: 20 px black;
}

.wrapper {
	padding-top: 0px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0 auto -142px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -25px;
	width: auto;
	
	overflow: auto;
}

.logo {
	font-size: 30pt;
	font-weight: bold;
	color: white;
	font-style: normal;
	padding: 20px;
	padding-top: 10px;
}

.top_header {
	width: 100%;
	z-index: 10;
	height: 60px;
	background-color: #41627E;
}

.top_header_left {
	float: left;
	padding-left: 20px;
}

.top_header_right {
	float: right;
	height: 60px;
}

.content {
	padding-right: 20px;
	padding-top: 10px;
	float:left;
}

.content_right {
	left:300px;
	top:100px;
	position:absolute;
	width: auto;
	margin-left:25px;
	font-size: 12pt;
	float: right;
}

.navigation_left {
	width: 240px;
	float: left;
	border: thin;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: white; 
}

.navigationHeader {
	padding-left: 15px;
	padding-right: 20px
}

.navigationLabel {
	float: left;
	font-size: 15pt;
	padding: 20px;
	width: 200px;
}

.navigationLabel:hover {
	float: left;
	font-size: 15pt;
	width: 200px;
	background-color: orange;
	cursor: pointer;
}

.push {
	height: 25px;
}

.footer {
	padding-top:25px;
	height: 25px;
	width: auto;
}

.footer_content {
	background-color: #41627E;
	margin-right: 40px;
	margin-left: 40px;
	padding-right: 40px;
	margin-top: 4px;
	height: 100%;
	text-align: right;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.register {
	float: right;
	display: inline;
	padding-right: 34px
}

.listYapoolTable {
	font-size: 14pt;
}

.gwt-PopupPanel {
	background-color: white;
	border: solid;
	border-width: medium;
	border-color: #5CB3FF;
	padding: 10px;
	font-size: 14pt;
}

.selectorLabel {
	font-size: 13pt;
	padding: 10px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	border-right-width: 1px;
	margin-bottom: 10px;
}

.selectorLabel:hover {
	background-color: orange;
	cursor: pointer;
}

.displayYapooLHeader {
	width: 600px;
	height: 32px;
}

.displayYapoolTitle {
	float: left;
	width: 250px;
	height: 30px;
}

.displayYapoolName {
	margin-left: 200px;
	margin-top: 20px;
	height: 30px;
	position: absolute;
	font-size: 14pt;
}

.displayYapoolContent {
	width: 600px;
	float: left;
}

.displayYapoolState {
	margin-left: 230px;
	width: 50px;
	font-size: 15pt;
	padding: 4px;
	border-style: groove;
}

.open {
	background-color: green;
}

.close {
	background-color: red;
}

.done {
	background-color: gray;
}

.displayYapoolMemberTable {
	float: left;
	font-size: 14pt;
}

.displayYapoolWall {
	margin-top: 160px;
	height: 200px;
}

.displayYapoolPostTable {
	float: left;
	font-size: 14pt;
}

.displayYapoolButton {
	margin-left: 107px;
	margin-top: 10px;
}

.postTableLabel {
	margin: 10px;
	font-size: 14pt;
}

.displayYapoolChatLabel {
	font-size: 14pt;
	padding: 4px;
}

@media screen and (max-device-width: 600px) {
	/*--- iPhone only CSS here ---*/	
	.body {
		font-size: larger;
		height: 2px;
	}
	.myYapoolLabel {
		margin-right: 150px;
	}
	.wrapper {
	padding:0px;
	min-height:none;
	min-width:none
	height: auto;
	height: auto;
	margin: 0px;
	width: auto;
}
	
	
	.content_right {
		font-size: large;
		margin-right: 20px;
		right:30px;
		top: 150px;
		float: none;
		width: 400px;
	}
	.top_header {
		float: none;
		padding: 0px;
		margin: 0px;
		width: 400px;
		height: 110px;
	}
	.top_header_left {
		float: none;
		margin-top: 100px;
		width: 400px;
	}
	.footer {
		display: none;
	}
	.navigation_left {
		display: none;
	}
	.displayYapooLHeader {
		height: 32px;
	}
	.displayYapoolName {
		margin-top: 25px;
	}
	.register {
		display: none;
	}
	.logo {
	padding:0px;
}
	.myYapoolLabel:hover {
	margin-top:1000px;
	display: none;
}
	
	
}