
h1 {
  font-size: 2em;
  font-weight: bold;
}
body {
	font-size: 20px}

.top_header{width: 1000px;height: 250px; position: fixed;
	width:100%;
	min-width: 500px;
	top:0px;
	z-index: 10;
	height:60px; 
	background-color: #777777;
}

.top_header_left{left: 20px; float: left;}

.top_header_right{right: 20px;float: right;}





.content{
	top: 100px;
	width:1040px;
	height: 100%;
	position: fixed;

	margin-top:20px;
	margin-bottom: 20px;
	font-size: 14pt;
}

.content_left{width: 200px;left: 20px;float: left; position:fixed;border: thin;border-color: black;}

.content_right{width: 800px;right: 20px;float:right;position: fixed;}


.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.register{float:right; display: inline; padding-right: 34px}
