h1 {
	font-size: 2em;
	font-weight: bold;
}

html,body {
	height: 100%;
	font-size: medium;
}

body {
	font-size: 20px
}

table {
	font-size: 12pt;
	line-height: 20px;
	border: 20 px black;
}

.wrapper {
	padding-top: 0px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0 auto -142px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -25px;
	width: 1200px;
}

.top_header {
	width: 1200px;
	min-width: 500px;
	z-index: 10;
	height: 60px;
	background-color: #777777;
}

.top_header_left {
	float: left;
	min-width: 200px;
	padding-left: 20px;
}

.top_header_right {
	float: right;
	min-width: 200px;
	height: 60px;
}

.content {
	padding-right: 20px;
	padding-top: 10px;
	height: 100%;
}

.navigation_left {
	width: 240px;
	float: left;
	border: thin;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.navigationHeader {
	padding-left: 15px;
	padding-right: 20px
}

.navigationLabel {
	float: left;
	font-size: 15pt;
	padding: 20px;
	width: 200px;
}




.navigationLabel:hover {
	float: left;
	font-size: 15pt;
	width: 200px;
	background-color: orange;
}

.content_right {
	width: 800px;
	right: 20px;
	float: right;
	font-size: 12pt;
}

.push {
	height: 25px;
}

.footer {
	height: 25px;
}

.footer_content {
	background-color: #777777;
	margin-right: 25px;
	margin-left: 40px;
	padding-right: 40px;
	height: 100%;
	text-align: right;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.register {
	float: right;
	display: inline;
	padding-right: 34px
}